.form {
  padding: 10px 10px 100px 10px;
  width: 400px;
  align-items: baseline;
}

.input-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  padding-bottom: 10px;
}

.button-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}