* {
 padding-top: 20px;
}
.App {
  height: 450px;
  margin: 0 auto;
  background-color: gainsboro;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
    
}

.App-title {
  text-align: center;
  margin-top: revert;
  top: 200px;
  padding-top: 0px;
}

