.container {
  height: 450; 
  padding: 100px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.value {
  color: blue;
}

strong{
  text-decoration: underline;
  padding: 10px;
}

.description {
  color: gray;
  align-items: center;
}
